<h1>Purchases</h1>

<div class="card p-3">
<h3>Add Purchase</h3>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4">
        <label for="date">Date</label>
        <input class="form-control" placeholder="" type="date" formControlName="date"
               [ngClass]="{'error': isValid('name')}"/>
        <small [hidden]="myForm.controls.date.valid || (myForm.controls.date.pristine)">
          A Valid Date is required.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Name of Payee</label>
      <input class="form-control" placeholder="Name of Payee" type="text" formControlName="name"
             [ngClass]="{'error': isValid('name')}"/>
      <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine)">
        Name is required.
      </small>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="categoryId">Category</label>
        <select class="form-control" formControlName="categoryId" >
          <option *ngFor="let category of categories" value="{{category.id}}" >{{category.categoryName}}</option>
        </select>
      </div>
      <div class="col-6">
        <label for="amount">Amount</label>
        <input class="form-control" placeholder="0.00" type="number" formControlName="amount"
               [ngClass]="{'error': isValid('amount')}"/>
        <small [hidden]="myForm.controls.amount.valid || (myForm.controls.amount.pristine)">
          Amount is required.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="memo">Memo</label>
      <textarea class="form-control" placeholder="Enter text for memo" type="text" formControlName="memo"
                [ngClass]="{'error': isValid('memo')}"></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Add Item</button>
    </div>
  </form>
</div>
<div class="card p-3">
  <h3>List of Purchases</h3>
<!--  <p><button (click)="fillForm()">Fill Form</button></p>-->
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <td>Date</td>
        <td>Name</td>
        <td class="text-right">Amount</td>
        <td>Category</td>
        <td>Memo</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchase of purchases">
        <td>{{purchase.date | date: 'MM-dd-yyyy'}}</td>
        <td>{{purchase.name}}</td>
        <td class="text-right">{{purchase.amount | number:'.2'}}</td>
        <td>{{purchase.categoryName}}</td>
        <td>{{purchase.memo}}</td>
        <td><button class="btn" (click)="openModal(purchase)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <div class="row">
    <div class="col-4">Number of Transactions: {{purchaseCount}}</div>
    <div class="col-4">Amount of Purchases: {{purchaseAmount | number:'.2'}}</div>
    <div class="col-4">Average Amount of Purchases: {{averageAmountOfPurchase | number:'.2'}}</div>
  </div>
</div>
