<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Purchase</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-4">
      <label>Date:</label>
    </div>
    <div class="col-8">
      {{purchase.date | date:'MM-dd-yyyy' }}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    <label>Name of Payee:</label>
    </div>
    <div class="col-8">
      <input [(ngModel)]="purchase.name" type="text" />
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label>Category:</label>
    </div>
    <div class="col-8">
      <select [(ngModel)]="purchase.categoryId">
        <option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label>Amount:</label>
    </div>
    <div class="col-8">
      <input [(ngModel)]="purchase.amount" type="number" />
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label>Memo:</label>
    </div>
    <div class="col-8">
      <textarea [(ngModel)]="purchase.memo"></textarea>
    </div>
  </div>

  <button (click)="passBack()" type="submit" class="btn btn-primary w-100">Update</button>

</div>

